openapi: '3.0.0'
info:
  version: 1.0.0
  title: ResumeUp.AI API
  license:
    name: MIT
servers:
  - url: https://api.resumeup.ai/v1
paths:
  /resumes:
    get:
      summary: List all resumes
      operationId: listResumes
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of resumes
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resumes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a resume
      operationId: createResumes
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /resumes/{resumeId}:
    get:
      summary: Info for a specific resume
      operationId: showResumeById
      parameters:
        - name: resumeId
          in: path
          required: true
          description: The id of the resume to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resumes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Resume:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Resumes:
      type: array
      items:
        $ref: '#/components/schemas/Resume'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
